<script src="https://giscus.app/client.js"
        data-repo="{{ .Site.Params.comment.giscus.DataRepo }}"
        data-repo-id="{{ .Site.Params.comment.giscus.DataRepoId }}"
        data-category="{{ .Site.Params.comment.giscus.DataCategory }}"
        data-category-id="{{ .Site.Params.comment.giscus.DataCategoryId }}"
        data-mapping="{{ .Site.Params.comment.giscus.DataMapping }}"
        data-reactions-enabled="{{ .Site.Params.comment.giscus.DataReactionsEnabled }}"
        data-emit-metadata="{{ .Site.Params.comment.giscus.DataEmitMetadata }}"
        data-theme="light"
        crossorigin="anonymous"
        async>
</script>