:root {
  --background: #f6f6f6;
  --text: #555;
  --sidebar: #f0f0f0;
  --hover: silver;
  --shadow: rgb(85 85 85 / 25%);
  --selection: #ddd;
}

html[data-theme='light'] {
  --background: #f6f6f6;
  --text: #555;
  --sidebar: #f0f0f0;
  --hover: silver;
  --shadow: rgb(85 85 85 / 25%);
  --selection: #ddd;
}

html[data-theme='dark'] {
  --background: #242933;
  --text: #eceff4;
  --sidebar: #2e3440;
  --hover: silver;
  --shadow: rgb(0 0 0 / 25%);
  --selection: #4C566A;
}

html[data-theme='dark'] .comments {
  filter: invert(1) hue-rotate(180deg);
}

html[data-theme='dark'] .comments img {
  filter: invert(1) hue-rotate(180deg);
}

[data-theme='light'] .theme-toggle-light,
[data-theme='dark'] .theme-toggle-dark {
    display: block !important;
}

.none{display:none!important}


/* Micro Reset */

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--sidebar);
}

button, input, select, textarea, label {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
}

img {
  max-width: 100%;
}

/* Typography */

body {
  color: var(--text);
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1;
  margin: 1.4em 0 0.8em;
}

h1 {
  font-size: 1.8em;
  font-weight: normal;
  text-align: center;
}
h2{font-size:1.6em;}
h3{font-size:1.4em;}
h4{font-size:1.2em;}
h5,h6{font-size:1em;}

blockquote {
  margin: 1em 0;
  padding: 0 2em;
  border-left: 3px solid #ddd;
}

/* Code */

pre, code {
  font-size: 0.9rem;
}

pre code {
  display: block;
  border: 1px solid var(--sidebar);
  background-color: var(--sidebar);
  padding: 1em;
  overflow-x: auto;
  line-height: 1.75;
}

code {
  color:#8f8f8f ;
  background-color: var(--sidebar);
  padding: 0.2em 0.1em;
  border-radius: 3px;
}

/* Lists */

ul, ol {
  padding: 0 0 0 20px;
}

li {
  margin: 4px 0;
  padding: 0;
}

/* Links */

a {
  color: var(--text);
  text-decoration: none;
}

a:hover {
  color: var(--hover);
}

sup a {
  border-bottom: none;
}

/* Miscellanea */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid;
  margin: 30px auto;
  padding: 0;
  max-width: 300px;
}

.copyright {
  text-align: center;
  font-size: 14px;
}

.post-nav {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.nav-next {
  margin-left: 1em;
  text-align: right;
}

.nav-prev {
  margin-right: 1em;
}

.comments {
  margin-top: 20px;
}

/* Layout */

.masthead {
  width: 260px;
  padding: 40px 20px 20px 60px;
  float: left;
}

.main {
  width: 720px;
  margin: 0 auto;
  padding: 30px 32px;
  min-height: 100%;
  margin-bottom: -50px;
  background-color: var(--background);
  box-shadow: 0 0 20px var(--shadow);
}

/* Masthead */

.masthead h1 {
  margin-top: 0;
  margin-bottom: 0px;
  padding: 0;
  text-align: right;
  font-size: 30px;
  line-height: 48px;
}

.masthead h1 a {
  border-bottom: none;
}

.masthead .tagline {
  text-align: right;
  margin-top: 0;
}

.masthead .menu {
  margin-right: 20px;
  direction: rtl;
}

.masthead .menu a {
  direction: ltr;
}

.masthead .menu ul ul {
  list-style: none;
  margin-left: 10px;
  margin-right: 0;
}

#menu-check {
  display: none;
}

#menu-label {
  display: none;
}

/* Main */

.main .title h1 {
  margin-top: 30px;
  margin-bottom: 0px;
}

.title h3 {
  font-weight: normal;
  text-align: center;
  margin-top: 20px;
}

.subtitle {
  font-size: .9em;
  color: #666;
}

/* Footnotes */

.footnotes {
  font-size: .9em;
}

/* Tables */

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

table thead th {
  border-bottom: 1px solid #666;
}

th, td {
  padding: 5px;
}

thead, tfoot, tr:nth-child(even) {
  background: var(--background);
}

/**
 * Utility Styles
 */

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/**
 * -------------------------------------------------------------------------
 *  Media Queries
 * -------------------------------------------------------------------------
 *
 * The @viewport tag does the same thing as
 *
 *   <meta name="viewport" content="width=device-width">
 *
 * but in the future W3C standard way. The -ms- prefix is required for
 * IE10+ to render responsive styling in Windows 8 "snapped" views;
 * IE10+ does not honour the meta tag.
 */

@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

/* Tablet screens and smaller */

@media screen and (max-width: 960px) {

  html {
    background-color: var(--background);
  }

  body {
    width: auto;
    max-width: 700px;
    background-color: var(--background);
  }

  .masthead {
    width: auto;
    float: none;
    padding: 20px 0 20px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    /*border-bottom: 3px solid black;*/
  }

  .main {
    width: auto;
    padding: 40px 10px;
    margin: 0 1rem;
    border-left: none;
    min-height: auto;
    box-shadow: none;
  }

  .masthead h1 {
    text-align: center;
  }

  .masthead .tagline {
    text-align: center;
  }

  .masthead .menu {
    direction: ltr;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .masthead .menu ul {
    text-align: left;
    margin: 0;
    padding: 0;
  }

  .masthead .menu ul ul {
    margin: 0;
  }

  .masthead .menu li {
    border-bottom: 1px solid;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .masthead .menu li:first-child {
    border-top: 1px solid;
  }

  .masthead .menu li li:last-child {
    border-bottom: none;
  }

  .masthead .menu a {
    display: block;
    padding: 15px 20px;
    border-bottom: none;
  }

  .masthead .menu li li a {
    padding-left: 30px;
  }

  .masthead .menu li li::before {
    content: none;
  }

  .masthead .menu li li a::before {
    content: "•\00a0\00a0\00a0";
  }

  #menu-label {
    display: inline-block;
    padding: 0 20px;
    height: 50px;
    border: 1px solid;
    cursor: pointer;
    line-height: 50px;
    color: var(--text);
    font-size: 20px;
    margin-top: 10px;
  }

  #menu-label:hover, #menu-label:focus {
    border: 1px solid #888;
  }

  #menu-label .icon {
    padding-right: 8px;
    width: 30px;
  }

  #menu-check ~ label .close-icon {
    display: none;
  }

  #menu-check ~ label .open-icon {
    display: inline-block;
  }

  #menu-check:checked ~ label .close-icon {
    display: inline-block;
  }

  #menu-check:checked ~ label .open-icon {
    display: none;
  }

  #menu-check ~ ul {
    display: none;
  }

  #menu-check:checked ~ ul {
    display: block;
    margin-top: 50px;
    margin-bottom: 0;
  }
}

/* Landscape phone screens and smaller */

@media screen and (max-width: 720px) {

}

/* Portrait phone screens */

@media screen and (max-width: 480px) {

  body {
    font-size: 16px;
  }

  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.6em;;
  }

  h3{font-size:1.4em;}
  h4{font-size:1.2em;}
  h5,h6{font-size:1em;}

  pre, code {
    font-size: 12px;
  }

  .masthead {
    padding-top: 40px;
  }

}

/*DIY*/
.tagstyle{
  margin-right: 0.5rem;
  padding: 1px 3px;
}

.tem {
  margin-right: .25em;
}

.block {
  margin: 0 0 20px;
}

.tit {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 0;
  border-bottom: 1px dashed #8f8f8f;
}

.info {
  font-size: small;
  color: grey;
}

.info svg {
  height: 13px;
  width: 13px;
  vertical-align:middle;
  fill: grey;
  margin-right: 0.05em;
}

.warn {
  font-weight: bold;
  font-style: italic;
}

.flip {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 30px;
}

.sec {
  margin:0 auto;
  text-align: center;
  width: fit-content;
}

.sec svg {
  height: 16px;
  width: 16px;
  vertical-align:middle;
  fill: var(--text);
  margin-right: .05em;
}

.post>p {
  text-indent: 32px;
}

.post>p>img {
  margin-left: -32px;
}

.center {
  text-align:center;
}

.push {
  height: 50px;
}
footer {
  height: 50px;
}

::-webkit-scrollbar { 
  width: .5rem; 
  height: .5rem; 
  background: rgba(221, 221, 221, 0.4); 
} 

::-webkit-scrollbar-track { 
  border-radius: 0; 
} 

::-webkit-scrollbar-thumb { 
  border-radius: 0; 
  background-color: rgb(179, 179, 179); 
  transition: all .2s; 
  border-radius: 0rem 
}

::selection { 
  background: var(--selection); 
}

.flip svg {
  height: 16px;
  width: 16px;
  vertical-align:middle;
  fill: var(--text);
}